.container-small-card{
  width: 800px;
  margin-bottom: 15px;
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card-picture > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-title > h1 > a{
  color: #100461;
}

.small-card-footer{
  margin-top: 10px;
}
