<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-left">
    @for (article of articles; track article; let first = $first) {
      @if ( first ){
        <app-big-card id="{{article.id}}"
                      picture="{{article.picture}}"
                      title="{{article.title}}"
                      description="{{article.description}}"></app-big-card>
      }
    }
  </div>
  <div class="articles-right">
    @for (article of articles; track article; let first = $first) {
      @if ( !first ){
        <app-small-card id="{{article.id}}"
                        picture="{{article.picture}}"
                        title="{{article.title}}"></app-small-card>
      }
    } @empty {
      Il y a ne pas item.
    }
  </div>

</div>
