<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-left">
      <app-big-card picture="https://loremflickr.com/g/320/240/paris"
                    title="Título do artigo"
                    description="Descrição do artigo"></app-big-card>
  </div>
  <div class="articles-right">
    <app-small-card picture="https://loremflickr.com/320/240/paris,girl/all"
                    title="Titulo do small card"></app-small-card>
    <app-small-card picture="https://loremflickr.com/g/320/240/paris,girl/all"
                    title="Titulo do small card 2"></app-small-card>
    <app-small-card picture="https://loremflickr.com/320/240/brazil,rio"
                    title="Titulo do small card 3"></app-small-card>
  </div>
</div>
